.achievement {
  padding: 15px;
  border-bottom: 1px solid #cecece;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  &__designation {
    max-width: 80%;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__description {

  }
  &__mark {
    max-width: 20%;
  }
}