.achievement {
  padding: var(--padding-l);
  border: var(--grey-border);
  border-radius: var(--main-border-radius);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  user-select: none;
  &__designation {
    padding-right: var(--padding-m);
  }
  &__title {
    margin-bottom: var(--margin-l);
    text-transform: uppercase;
    font-size: var(--font-size-l);
    font-weight: 600;
  }
  &__description {
    line-height: 25px;
  }
  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__option_mark {
    width: 65px;
    height: 65px;
    background-image: url('../../../assets/mark-star.png');
    background-repeat: no-repeat;
    background-size: 65px 65px;
    margin: 0 var(--margin-m);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__option_check {
    color: var(--font-color);
    border: 2px solid var(--main-color);
    border-radius: var(--main-border-radius);
    min-width: var(--button-width-m);
    height: var(--button-height-l);
    font-weight: bold;
    font-size: var(--font-size-s);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 3px 2px var(--submain-color);
  }
  }
  &__option_box {
    height: var(--button-height-l);
  }
  &__option_check-img {
    margin: 0px var(--margin-m);
    height: var(--button-height-l);
  }
}

@media (max-width: 737px) {
  .achievement {
    flex-direction: column;
    position: relative;
    padding: var(--padding-m);
    &__designation {
      padding-right: 0;
      margin-bottom: var(--margin-l);
    }
    &__option_mark {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      margin: 0;
    }
    &__option_check {
      margin: 0;
    }
    &__option_check-img {
      margin: 0;
    }
  }
}