.log-out-header {
  margin-left: var(--margin-m);
  text-decoration: none;
  &__button {
    border: 0;
    border-radius: 0;
    background: #dadada;
    padding: var(--padding-xs);
    min-width: var(--button-width-l);
    height: var(--button-height-l);
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px 3px #b5b5b5;
  }
}