.header-box {
  width: var(--width-l);
  margin: 0 auto;
  border-bottom: var(--grey-border);
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  &__skills,
  &__sign {
    display: flex;
    align-items: center;
  }
}