.achievement-type {
  &__title {
    background: var(--submain-color);
    margin: var(--margin-l) 0;
    color: var(--font-color);
    border-radius: var(--main-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-s) var(--padding-l);
    font-size: var(--font-size-xl);
    font-weight: 600;
    cursor: pointer;
  }
}

.accordion-content {
  animation: fadein 0.35s ease-in;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }

}
