h2 {
  background: var(--submain-color);
  margin: var(--margin-l) 0;
  color: var(--font-color);
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.accordion-content {
  animation: fadein 0.35s ease-in;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }

}
