.pass-recovery-form {
  margin: var(--margin-l) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--form-width-m);
  &__title {
    background: var(--submain-color);
    border-radius: var(--main-border-radius);
    padding: var(--padding-s) var(--padding-l);
    color: var(--font-color);
    width: var(--form-width-m);
    margin: var(--margin-l) auto var(--margin-l);
    display: flex;
    justify-content: center;
  }
  &__label {
    margin-bottom: var(--margin-m);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__pass-label,
  &__confirm-pass-label {
    background-size: var(--icon-width-l) var(--icon-width-l);
    width: var(--icon-width-l);
    height: var(--icon-width-l);
    margin-right: var(--margin-m);
    background-repeat: no-repeat;
  }
  &__pass-label {
    background-image: url(../../../assets/raw.png);
  }
  &__confirm-pass-label {
    background-image: url(../../../assets/raw-green.png);
  }
  &__input {
    border: 1px solid var(--submain-color);
    border-radius: var(--main-border-radius);
    color: var(--font-color);
    font-size: var(--font-size-m);
    width: var(--form-width-xs);
    padding: var(--padding-s);
    &:focus {
      border-color: var(--main-color);
    }
  }
  &__submit {
    font-family: var(--font-family);
    color: var(--font-color);
    border: 2px solid var(--subsecondary-color);
    border-radius: var(--main-border-radius);
    background-color: var(--secondary-color);
    margin-top: var(--margin-s);
    width: var(--button-width-xl);
    height: var(--button-height-l);
    padding: var(--padding-xs);
    font-weight: bold;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 3px 2px var(--subsecondary-color);
    }
  }
}

@media (max-width: 737px) {
  .pass-recovery-form  {
    width: var(--form-width-xs);
    &__title {
      width: var(--form-width-xs);
      font-size: var(--font-size-xl);
      padding: var(--padding-s) 0px;
    }
    &__input {
      width: calc(var(--form-width-xs) - 60px);
    }
    &__pass-label,
    &__confirm-pass-label  {
      background-size: var(--icon-width-m) var(--icon-height-m);
      width: var(--icon-width-m);
      height: var(--icon-height-m);
      margin-right: var(--margin-s);
    }
  }
  .form-title {
    padding: var(--padding-s) 0;
  }
}