.pass-recovery-form {
  margin: var(--margin-l) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--form-width-m);
  &__label {
    margin-bottom: var(--margin-m);
    display: flex;
    flex-direction: row;
  }
  &__pass-label,
  &__confirm-pass-label {
    background-size: var(--form-icon-size) var(--form-icon-size);
    width: var(--form-icon-size);
    height: var(--form-icon-size);
    margin-right: var(--margin-m);
    background-repeat: no-repeat;
  }
  &__pass-label {
    background-image: url(../../../assets/raw.png);
  }
  &__confirm-pass-label {
    background-image: url(../../../assets/raw-green.png);
  }
  &__input {
    border: 1px solid var(--submain-color);
    border-radius: var(--main-border-radius);
    color: var(--font-color);
    font-size: var(--font-size-m);
    min-width: 300px;
    padding: 10px;
    &:focus {
      border-color: var(--main-color);
    }
  }
  &__submit {
    font-family: var(--font-family);
    color: var(--font-color);
    border: 2px solid var(--subsecondary-color);
    border-radius: var(--main-border-radius);
    background-color: var(--secondary-color);
    margin-top: var(--margin-s);
    width: var(--button-width-l);
    height: var(--button-height);
    padding: var(--padding-xs);
    font-weight: bold;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 3px 2px var(--subsecondary-color);
    }
  }
}