@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --main-color: #08daf5;
  --submain-color: #a7eaf3;
  --secondary-color: #ffea73;
  --subsecondary-color:#ffe240;
  --font-family: 'PT Sans', sans-serif;
  --font-color: #4c4c4c;
  --grey-border: 1px solid #d2d2d2;
  --padding-l: 30px;
  --padding-m: 20px;
  --padding-s: 10px;
  --padding-xs: 5px;
  --margin-l: 25px;
  --margin-m: 15px;
  --margin-s: 5px;
  --width-l: 95%;
  --form-width-l: 700px;
  --form-width-m: 500px;
  --form-width-s: 400px;
  --form-width-xs: 300px;
  --main-border-radius: 15px;
  --button-height: 45px;
  --button-width-l: 150px;
  --button-width-m: 100px;
  --form-icon-size: 50px;
  --font-size-xl: 24px;
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
}

*{
  outline: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

