@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --main-border-color: #08daf5;
  --submain-border-color: #a7eaf3;
  --button-font-family: 'PT Sans', sans-serif;
  --button-color: #4c4c4c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

